@charset "utf-8";
/* CSS Document */

*{padding:0; margin:0;}
html,body,div,ul,li,ol,h1,h2,h3,h4,h5,p,a,span,label,i,em,b,strong,input,img,select,option{ padding:0; margin:0; list-style:none; font-style:normal; font-weight:normal; border:none; background:none;}
img{ vertical-align:middle;}
a{ text-decoration:none;outline:none;-webkit-tap-highlight-color: transparent;}
a:hover{  text-decoration:none;outline:none;-webkit-tap-highlight-color: transparent;}
input[type=button]{-webkit-appearance:none;outline:none;}
input[type=submit]{-webkit-appearance:none;outline:none;}
input[type=text]{-webkit-appearance:none;outline:none;}
div{-webkit-appearance:none;outline:none;outline:none;-webkit-tap-highlight-color: transparent;}
select,option{-webkit-appearance:none;outline:none;outline:none;-webkit-tap-highlight-color: transparent;}