<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>万颗商城-村镇网购首选(VACOMALL.COM)-正品低价、轻松购物、送货到家</title>
<script src="../js/jquery-1.10.1.min.js"></script>
<script src="../js/myjs.js"></script>
<link rel="stylesheet" rev="stylesheet" href="../css/set.css" >
<style type="text/css">
html{ width:100%; height:100%; overflow:hidden; font-size:0;}
body{width:100%; height:100%; overflow:hidden;}
.viewport{  margin:0 auto; width:7.2rem; overflow:hidden;height:100%;background:url(../image/bg.png) no-repeat; background-size:7.2rem 100%; position:relative; }
.app_jianyi{  margin:0.8rem auto; width:5rem; height:auto; font-family:"微软雅黑";}
.app_jianyi_title{ font-size:0.36rem;text-align:center; height:0.8rem; line-height:0.8rem;}
.app_jianyi_pic{ position: absolute; display:none; width:5.2rem; height:7rem; background:#fff; padding:0.4rem; left:50%; top:0; margin:0.8rem 0 0 -3rem; z-index:8888;}
.tip_close{ position:absolute; cursor:pointer; right:0; top:0; width:0.4rem; height:0.4rem; background:url(../image/search_del.png) no-repeat; background-size: cover; margin:-0.2rem -0.2rem 0 0;}
.app_jianyi_img{ width:5.2rem; overflow:hidden; border:0.02rem solid #dedede; box-sizing:border-box;}
.app_jianyi_img img{ width:100%;}
.app_jianyi_texl{ width:5.2rem; font-size:0.2rem; overflow:hidden; border:0.02rem solid #dedede; box-sizing:border-box; border-top:none;}
.app_jianyi_texl li{ width:50%; float:left; height:0.5rem; line-height:0.5rem; text-align:center; border-left:0.02rem solid #dedede; box-sizing:border-box;}
.app_jianyi_texl li:first-child{ width:50%; float:left; border-left:none;}
.app_jianyi_pic_title{ height:0.6rem; font-size:0.32rem;}
.app_jianyi_search{ padding-top:0.5rem; width:5rem; overflow:hidden; position:relative;}
.app_jianyi_no{ position:absolute; left:0; top:0; font-size:0.28rem; color:#ff0000; line-height:0.36rem; height:0.36rem; background:url(../image/tip_no.png) no-repeat; background-size:0.36rem 0.36rem; text-indent:0.5rem;}
.app_jianyi_search_info{ width:4.95rem; height:0.6rem; border:0.02rem solid #dbdbdb; border-radius:0.08rem; background:#fff; overflow:hidden;}
.app_jianyi_search_info ul{ overflow:hidden;}
.app_jianyi_search_info li{ float:left;}
.l_text{ width:4.2rem; padding-left:0.1rem; height:0.4rem; margin-top:0.1rem; border-right:0.03rem solid #999; position:relative;}
.r_btn{width:0.6rem; height:0.6rem; }
.text_del{ background:url(../image/search_del.png) no-repeat center center; width:0.5rem; height:0.4rem; position:absolute; right:0; top:0; background-size:0.3rem auto;}
.txt_jianyi{ width:3.8rem; height:0.4rem; float:left; font-size:0.24rem; line-height:0.4rem; color:#666;}
.btn_jianyi{width:0.6rem; height:0.6rem; float:left; cursor:pointer; background:url(../image/search_btn.png) no-repeat center center; background-size:0.4rem auto;}
.app_jianyi_imgshow{ width:100%; height:100%; display:none; background:#fff; position:absolute; left:0; top:0; z-index:99999;}
.app_jianyi_bimgtitle{ height:1rem; line-height:1rem; font-size:0.28rem; text-indent:0.2rem;}
.tip_close2{position:absolute; cursor:pointer; right:0; top:0; width:0.4rem; height:0.4rem; background:url(../image/search_del.png) no-repeat; background-size: cover; margin:0.3rem 0.2rem 0 0;}
.app_jianyi_bimg{ width:auto; height:80%; display:table; overflow:hidden;}
.app_jianyi_bimg span{display:inline-block;display:table-cell; vertical-align:middle; }
.app_jianyi_bimg img{ width:100%; height:auto;}
.app_cover{ width:7.2rem; height:100%; left:0; top:0; display:none; position:fixed;  background: url(../image/tip_ikonw.png) no-repeat center center rgba(0,0,0,0.4); background-size:3rem auto; z-index:99999;}
.app_jianyi_run{ background:url(../image/ico_in.png) no-repeat; background-size:0.5rem auto; position:absolute; top:0; left:50%; width:0.5rem; height:0.5rem; margin:3.8rem 0 0 -0.25rem;animation: searchrun 1s linear infinite normal; display:none;}
@keyframes searchrun{  
0%{transform:rotate(0deg);}
 
100%{transform:rotate(360deg);} 
 }
</style>
</head>
<body>
<div class="viewport">
    <div class="app_cover"></div>
	<div class="app_jianyi">
         <div class="app_jianyi_run"></div>
         <div class="app_jianyi_title">检疫证书查询</div>
         <div class="app_jianyi_search">
             <div class="app_jianyi_no" style="display: none">无效检疫证书编号</div>
             <div class="app_jianyi_search_info">
                   <ul>
                      <li class="l_text"><!----清除搜索框内容----><i class="text_del"></i><!-----------><input type="text"  placeholder="请输入包装上的检疫证书编号" class="txt_jianyi"></li>
                      <li class="r_btn"><input type="submit" value="" class="btn_jianyi"></li>
                   </ul>
             </div>
         </div>
    </div>
    <!---------------读取检疫信息----------------------->
    <div class="app_jianyi_pic">
        <div class="tip_close"></div>
        <div class="app_jianyi_pic_title">检疫信息</div>
        <div class="app_jianyi_img"><img src="../image/example1.png"></div>
        <div class="app_jianyi_texl">
            <ul>
                <li id="jianyi_certificate_num">检疫证书编号：10231401284</li>
                <li id="jianyi_certificate_time">检疫时间：2016.01.01</li>
            </ul>
        </div>
    </div>
     <!---------------读取检疫信息----------------------->
     <div class="app_jianyi_imgshow">
         <div class="tip_close2"></div>
         <div class="app_jianyi_bimgtitle">检疫信息</div>
         <div class="app_jianyi_bimg"><span><img src="../image/example1.png"></span></div>
     </div>
</div>
</body>
</html>
